n8n_integration/workflows/hr.json
{
  "name": "Sentinel ERP HR Operations",
  "nodes": [
    {
      "parameters": {
        "path": "hr/leaves-process",
        "options": {}
      },
      "id": "node-webhook-hr",
      "name": "HR Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.sentinel-erp.internal/v1/hr/leaves",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "node-fetch-leaves",
      "name": "Fetch Leave Sheets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        300,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-firebase-jwt",
          "name": "Firebase Auth JWT Header"
        }
      }
    },
    {
      "parameters": {
        "promptType": "custom",
        "text": "=Process leave request context:\nLeave Request: {{ JSON.stringify($json) }}",
        "systemMessage": "=You are the HR Operations Agent. Review the pending leave application. Validate request days, check policy limits, and decide whether to approve, reject, or escalate to HR VP."
      },
      "id": "node-hr-agent",
      "name": "HR Agent Node",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        550,
        300
      ]
    },
    {
      "parameters": {
        "model": "gemini-2.5-flash",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "node-gemini-hr",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        550,
        480
      ],
      "credentials": {
        "googlePublicKey": {
          "id": "cred-gemini-api-key",
          "name": "Google Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.decision }}",
        "rules": {
          "rules": [
            {
              "value2": "Approved",
              "output": 0
            },
            {
              "value2": "Rejected",
              "output": 1
            },
            {
              "value2": "Escalate",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 2
      },
      "id": "node-decision-switch",
      "name": "Evaluate Decision",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sentinel-erp.internal/v1/hr/leaves/approve",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "leave_id",
              "value": "={{ $('Fetch Leave Sheets').item.json.leave_id }}"
            },
            {
              "name": "status",
              "value": "Approved"
            }
          ]
        },
        "options": {}
      },
      "id": "node-post-approve",
      "name": "Post Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1000,
        150
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-firebase-jwt",
          "name": "Firebase Auth JWT Header"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sentinel-erp.internal/v1/hr/leaves/reject",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "leave_id",
              "value": "={{ $('Fetch Leave Sheets').item.json.leave_id }}"
            },
            {
              "name": "status",
              "value": "Rejected"
            }
          ]
        },
        "options": {}
      },
      "id": "node-post-reject",
      "name": "Post Reject",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-firebase-jwt",
          "name": "Firebase Auth JWT Header"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "flow-approval-engine",
        "options": {
          "waitForCompletion": true
        }
      },
      "id": "node-hr-escalate",
      "name": "Trigger Approval Engine",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        450
      ]
    }
  ],
  "connections": {
    "HR Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Leave Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Leave Sheets": {
      "main": [
        [
          {
            "node": "HR Agent Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "HR Agent Node",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HR Agent Node": {
      "main": [
        [
          {
            "node": "Evaluate Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Decision": {
      "main": [
        [
          {
            "node": "Post Approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Reject",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Approval Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "flow-hr",
  "meta": {
    "instanceId": "instance-hr-312"
  }
}
