n8n_integration/workflows/knowledge-engine.json
{
  "name": "Sentinel ERP Knowledge Engine (RAG Retrieval)",
  "nodes": [
    {
      "parameters": {},
      "id": "node-manual-trigger",
      "name": "Sub-Workflow Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/text-embedding-004:embedContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "models/text-embedding-004"
            },
            {
              "name": "content.parts[0].text",
              "value": "={{ $json.query }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-gemini-query-vector",
      "name": "Google Gemini Embeddings Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        300,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-gemini-header-api-key",
          "name": "Gemini API Header Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT doc_title, chunk_content, (embedding <=> '{{ JSON.stringify($json.embedding.values) }}'::vector) as distance FROM vector_store.embeddings WHERE (embedding <=> '{{ JSON.stringify($json.embedding.values) }}'::vector) < 0.40 ORDER BY distance ASC LIMIT 3;"
      },
      "id": "node-sql-query",
      "name": "Query SQL pgvector",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        550,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "cred-postgres-db",
          "name": "Sentinel ERP DB Connection"
        }
      }
    },
    {
      "parameters": {
        "promptType": "custom",
        "text": "=Formulate grounded answer for: {{ $('Sub-Workflow Trigger').item.json.query }}.\nContext Chunks: {{ JSON.stringify($json) }}",
        "systemMessage": "=You are the Knowledge Agent. Ground answers strictly inside the retrieved context snippets. Do not hallucinate facts."
      },
      "id": "node-knowledge-agent",
      "name": "Knowledge Agent Node",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "model": "gemini-2.5-flash",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "node-gemini-model-knowledge",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        780,
        480
      ],
      "credentials": {
        "googlePublicKey": {
          "id": "cred-gemini-api-key",
          "name": "Google Gemini API Key"
        }
      }
    }
  ],
  "connections": {
    "Sub-Workflow Trigger": {
      "main": [
        [
          {
            "node": "Google Gemini Embeddings Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Embeddings Query": {
      "main": [
        [
          {
            "node": "Query SQL pgvector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query SQL pgvector": {
      "main": [
        [
          {
            "node": "Knowledge Agent Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Agent Node",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "flow-knowledge-engine",
  "meta": {
    "instanceId": "instance-knowledge-engine-441"
  }
}
