n8n_integration/workflows/master-orchestrator.json
{
  "name": "Sentinel ERP Master Orchestrator",
  "nodes": [
    {
      "parameters": {
        "path": "copilot/chat",
        "options": {}
      },
      "id": "node-trigger-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "user_query",
              "value": "={{ $json.body.message }}"
            },
            {
              "name": "tenant_id",
              "value": "={{ $json.body.tenant_id || 'tenant-default-01' }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.body.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-set-context",
      "name": "Set Input Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sentinel-erp.internal/v1/security/scrub",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.user_query }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-security-scrub",
      "name": "Call Security Scrubber",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        500,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-firebase-jwt",
          "name": "Firebase Auth JWT Header"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "key": "={{ $json.action }}",
              "operator": "equal",
              "value": "Blocked"
            }
          ]
        }
      },
      "id": "node-check-scrub-result",
      "name": "Is Blocked?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sentinel-erp.internal/v1/workflows/agent-router",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.scrubbed_payload }}"
            },
            {
              "name": "tenant_id",
              "value": "={{ $('Set Input Context').item.json.tenant_id }}"
            },
            {
              "name": "user_id",
              "value": "={{ $('Set Input Context').item.json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-call-agent-router",
      "name": "Invoke Agent Router",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        950,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-firebase-jwt",
          "name": "Firebase Auth JWT Header"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"Security Blocked\",\n  \"message\": \"Your request was blocked by the security scanner due to PII violations.\"\n}",
        "options": {}
      },
      "id": "node-respond-blocked",
      "name": "Respond Blocked",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        950,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "node-respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        200
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Set Input Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input Context": {
      "main": [
        [
          {
            "node": "Call Security Scrubber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Security Scrubber": {
      "main": [
        [
          {
            "node": "Is Blocked?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Blocked?": {
      "main": [
        [
          {
            "node": "Respond Blocked",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invoke Agent Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoke Agent Router": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "flow-master-orchestrator",
  "meta": {
    "instanceId": "instance-master-orchestrator-928"
  }
}
