n8n_integration/workflows/monitoring-engine.json
{
  "name": "Sentinel ERP Operations Monitor",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "value": [
            {
              "mode": "everyHour"
            }
          ]
        }
      },
      "id": "node-cron-trigger",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT department, monthly_budget, cost_spent, warning_threshold, is_halted FROM n8n_core.cost_limits;"
      },
      "id": "node-fetch-budgets",
      "name": "Fetch Cost Budgets",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        300,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "cred-postgres-db",
          "name": "Sentinel ERP DB Connection"
        }
      }
    },
    {
      "parameters": {
        "promptType": "custom",
        "text": "=Evaluate cost quotas and alerts limits:\nLimits rows: {{ JSON.stringify($json) }}",
        "systemMessage": "=You are the Analytics and BI Agent. Run calculations checking if cumulative expenses exceed warning thresholds or budget limits. Recommend warnings dispatches."
      },
      "id": "node-analytics-agent",
      "name": "BI Analytics Agent Node",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        550,
        300
      ]
    },
    {
      "parameters": {
        "model": "gemini-2.5-flash",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "node-gemini-analytics",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        550,
        480
      ],
      "credentials": {
        "googlePublicKey": {
          "id": "cred-gemini-api-key",
          "name": "Google Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.metrics.total_spend_usd > $json.budget_utilization[0].percent_used * 0.01 * 100 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-check-breach",
      "name": "Budget Breach?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "flow-notification-engine",
        "options": {
          "waitForCompletion": false
        }
      },
      "id": "node-escalate-budget",
      "name": "Trigger Notification Engine",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        200
      ]
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Fetch Cost Budgets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Cost Budgets": {
      "main": [
        [
          {
            "node": "BI Analytics Agent Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "BI Analytics Agent Node",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "BI Analytics Agent Node": {
      "main": [
        [
          {
            "node": "Budget Breach?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Budget Breach?": {
      "main": [
        [
          {
            "node": "Trigger Notification Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "flow-monitoring-engine",
  "meta": {
    "instanceId": "instance-monitoring-engine-501"
  }
}
